.content {
  margin-top: var(--nav-size);
  background-color: var(--primary-color-1);
  color: #fff;
}

.page {
  height: calc(100vh - var(--nav-size));
  padding-inline: 10vw;
}

.row {
  text-align: center;
}

/* Page1 */
.page1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row1 {
  margin-bottom: 2vh;
}

.row3 {
  margin-top: 8vh;
}

/* Page2 */
.page2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: max(10px, 1vw);
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper img {
  width: max(100%, 12rem);
}

.taglineContainer img {
  height: max(50%, 8rem);
  padding-inline: 8vw;
  margin: auto;
}

/* Page3 */
.page3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3 .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 10vh; */
}

.page3 .row a {
  margin-top: 100px;
}

@media (max-width: 700px) {
  .content {
    margin-top: 7vh;
  }
  .page2 {
    flex-direction: column;
  }
  .imageWrapper img {
    width: 50%;
  }
}
